/* Login Page */

.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

.login-box {
  width: 400px;
  padding: 40px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.login-icon {
  font-size: 60px;
  margin-bottom: 10px;
}

.login-box h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.login-box p {
  color: #666;
  margin-bottom: 25px;
}

.login-box input {
  width: 100%;
  padding: 13px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.login-box button {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.login-box button:hover {
  background: #1d4ed8;
}

.register-text {
  margin-top: 20px;
}

.register-text span {
  color: #2563eb;
  cursor: pointer;
  font-weight: bold;
}

.logout-button {
  width: 150px;
  margin-top: 25px;
  background: #dc2626;
}

.logout-button:hover {
  background: #b91c1c;
}